.map-navbar .to-button{
    background-color: red;
}

.map-navbar .from-button{
    background-color: blue;
}


.map-container {
    height: 100vh;
    width: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}