.stops-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #89cdd6;
    transition: transform 0.2s;
    height: auto;
    display: flex;
    flex-direction: row;
  }